@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


@mixin flexStandard($jc: center, $ai: center, $g: 0px, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}
.flexStandard {
  @include flexStandard()
}

.flexStandardColumn {
  @include flexStandard($fd: column)
}

